<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>StyleStation</title>
</head>

<body>
    
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark" >
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">KMart</a>
            <button class="navbar-toggler" type="button" data-bs-toggler="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="#navbarNav">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'men' %}" class="nav-link">Men</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'women' %}" class="nav-link">Women</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Kids</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About</a>
                    </li>

                </ul>
                <div class="d-flex justify-content-between">
                    <div><a href="#" class="btn btn-outline-success btn-sm me-4"><i class="fa fa-sign-in" aria-hidden="true"></i>
                        Sign In</a></div>
                    <div><a href="#" class="btn btn-outline-primary btn-sm me-4"><i class="fa-solid fa-headset" aria-hidden="true"></i>Contact Us</a></div>
                    


                </div>
            </div>


        </div>
    </nav>


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                

                <form class="d-flex mx-auto search-bar">
                <input type="search" class="form-control me-2"  placeholder="search for products" aria-label=search>
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>

            </form>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="fas fa-user"></i>Account</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="fas fa-heart"></i>Wishlistt</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="fas fa-shopping-cart"></i>Cart</a>
                </li>
           
            </div>
        </nav>
    
</body>
</html>